@import "tailwindcss";

body {
  margin-top: 6rem;
  background-color: var(--color-light);
}

:root {
  --color-primary: #9F7933;
  --color-secondary: #001F3F;
  --color-tertiary: #523E1A;
  --color-quaternary: #FDD85D;
  --color-quinary: #FFE8C0;
  --color-grey: #e1e1e1;
  --color-light: #f4f4f4;
  --color-dark: #222;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}