@import "tailwindcss";

body {
  margin-top: 6.5rem;
  background-color: var(--color-light);
}


:root {
  --color-primary: #9F7933;
  --color-secondary: #001F3F;
  --color-tertiary: #523E1A;
  --color-quaternary: #FDD85D;
  --color-quinary: #FFE8C0;
  --color-grey: #7f7f7f;
  --color-light: #f4f4f4;
  --color-dark: #222;
}