@import "tailwindcss";

/* body {
  margin-top: 4rem;
} */


:root {
  --color-primary: #a5844d;
  --color-secondary: #001d37;
  --color-tertiary: #333;
  --color-quaternary: #111;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #7f7f7f;
  --color-light: #f4f4f4;
  --color-dark: #222;
}

body {
  padding-top: 80px;
  background-color: var(--color-light);
}