/* Auth.module.css */
.authContainer {
    min-height: 100vh;
    background-color: rgb(254 243 199);
    padding: 2rem 1rem;
}

.logoContainer {
    max-width: 72rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

.logo {
    height: 4rem;
    margin: 0 auto;
}

.formsContainer {
    max-width: 72rem;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
}

/* Vista desktop por defecto */
.formsSide {
    flex: 2;
    display: flex;
    flex-direction: row; /* Cambiado a row para horizontal */
    gap: 2rem;
}

.formBox {
    flex: 1; /* Para que ambos formularios tengan el mismo ancho */
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.imageSide {
    flex: 1;
    background-color: rgb(71 85 105);
    border-radius: 0.5rem;
    overflow: hidden;
}

.imageContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.sideImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Mobile y Tablet */
@media (max-width: 1024px) {
    .formsContainer {
        flex-direction: column;
    }

    .formsSide {
        width: 100%;
        flex-direction: column; /* Cambia a vertical en mobile */
    }

    .formBox {
        width: 100%;
    }

    .imageSide {
        display: none;
    }
}

/* Ajustes específicos para mobile */
@media (max-width: 640px) {
    .formBox {
        padding: 1rem;
    }
}